@import "../shared/mixins.scss";
.error{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1e1f;
  &__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__text{
    @include textLarge;
    margin-bottom: 20px;
  }
  &__button{
    & > button{
      @include button-green;
    }
  }
}
