<div (click)="closeFilter($event)" class="overlay">
  <div class="filter-window">
    <div class="filter-window__column">
      <div *ngFor="let field of fields; let idx = index" class="filter-window__row">
        <label class="filter-window__label">
          <input [checked]="field.checked" (change)="selectParam(idx)" class="real-checkbox" type="checkbox">
          <span class="custom-checkbox"></span>
          <div id="first_name" class="filter-window__text">{{field.placeholder}}</div>
        </label>
      </div>
    </div>

  </div>
</div>
