<!--<button (click)="logout()">Выйти</button>-->
<div class="home">
  <div class="home__header"></div>
  <div class="home__container">
    <div class="home__table-container">
      <table class="home__table table">
        <tr class="table__header header-table">
          <th class="header-table__column">Имя пользователя</th>
          <th class="header-table__column">ФИО</th>
          <th class="header-table__column">Пол</th>
          <th class="header-table__column">Электронная почта</th>
          <th class="header-table__column">Дата регистрации</th>
        </tr>
      </table>
    </div>
  </div>
</div>
