<ng-template appModalWindow></ng-template>
<div class="home">
  <div class="home__header header">
    <app-home-header
      [params]="params"
      (onSearch)="search($event)"
    ></app-home-header>
  </div>
  <div class="home__container">
    <div *ngIf="users.length !== 0; else noUsers" class="home__table-container">
          <app-home-table
            [users]="users"
            (onUpdateUsers)="updateUsers($event)"
            (onUpdateUsersCheckedIds)="updateUsersChecked($event)"
          >
          </app-home-table>
    </div>
    <ng-template #noUsers>
      <div class="home__no-users">
        Пользователи не найдены
      </div>
    </ng-template>
  </div>
  <div class="home__footer">
    <app-home-footer
      (onViewPushModal)="viewPushModal()"
      [usersCheckedIds]="usersCheckedIds"
    >

    </app-home-footer>
  </div>
</div>
